<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUNCS picoCAD</title>
</head>
<body>
    <header>
        <h1>MUNCS picoCAD</h1>
        {% if github_username %}
            <p>
                Logged in as @{{ github_username }}
            </p>
            <a href="/logout">
                <button>Logout</button>
            </a>
        {% else %}
            <a href="/login/github">
                <button>Login</button>
            </a>
        {% endif%}
    </header>
</body>
</html>